section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}

section about{
	 height: 600px;
}

section work{
	  height: 600px;	 
}

section conact{
	   height: 600px;
}